<!--  JS Libraries  -->
<!--  Chart.js Lib  -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>

<!--  D3 Libraries  -->
<!--  D3 library  -->
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<!--  DataMaps Lib  -->
<script src="../static/datamaps.world.min.js"></script>

<!--  JQuerry  -->
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<!--  Open and Set all Data  -->
<script src="../static/collectData.js"></script>
<script src="../static/chartOptions.js"></script>

<!--  Script for Chart Builds  -->
<script src="../static/mainChart.js"></script>